@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Fleur+De+Leah&family=IM+Fell+English+SC&family=Noto+Sans+Mono:wght@300&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");


body {
   font-family: 'system-ui', monospace;
   font-size: 20px;
}
h1,h2,h3 {
	font-family: 'system-ui', monospace;
	font-weight: normal;
}

a {

	text-decoration: blink;
	
}

